#councilMainHeader{
  margin-bottom: 20px;
}

ng2-auto-complete{
  z-index: 999!important;
}

.centers {
    margin: auto;
    width: 25%;
}


div#councilPickerContainer div {
  margin-left: 25% !important;
}

img.width10pc{
  width:10%;
  float:right
}
