 <div class="center">
  <div id="councilPickerContainer">
      <input id=councilPicker class="input-lg" placeholder="Southampton" auto-complete [(ngModel)]="selectedCouncil" [source]="councilList" (valueChanged)="getAuthorityData()" />
  </div>
</div>





<div class="row process-content">
	<div class="left-side">
		<div class="item">
			<h5>Hygiene Google & Yelp Rating Distributions</h5>
			<pdfcouncil></pdfcouncil>
		</div>
		<br>
		<div class="item">
			<h5>Hygiene Correlations</h5>
			<correlation></correlation>
		</div>
	</div> <!-- /left-side -->
	<div class="right-side">
		<div class="item">
			<h5>Local Authority Stats:</h5>
			<br>
			<div style ="border-radius: 27px 27px 27px 27px;
			-moz-border-radius: 27px 27px 27px 27px;
			-webkit-border-radius: 27px 27px 27px 27px;
			border: 2px dashed #1CBCA9;">
			<span align="left"><span style=" font-size:25px;">Hygiene Mean:</span> <span style="color:#333333; font-size:25px;">{{authStatsData.hygieneMean}}  </span></span><br><br>
			<span align="left"><span style=" font-size:25px;">Hygiene Median:</span> <span style="color:#333333; font-size:25px;">{{authStatsData.hygieneMedian}} </span></span><br><br>
			<span align="left"><span style=" font-size:25px;">Hygiene Std:</span> <span style="color:#333333; font-size:25px;">{{authStatsData.hygieneStdev}} </span></span><br><br>
			<span align="left"><span style=" font-size:25px;">Hygiene Mode:</span> <span style="color:#333333; font-size:25px;">{{authStatsData.hygieneMode}} </span></span><br>
			</div>
			<br>
			<div style ="border-radius: 27px 27px 27px 27px;
			-moz-border-radius: 27px 27px 27px 27px;
			-webkit-border-radius: 27px 27px 27px 27px;
			border: 2px dashed #4285F4;">
			<span align="left" ><span style=" font-size:25px;">Google Mean:</span> <span style="color:#333333; font-size:25px;">{{authStatsData.googleMean}} </span></span><br><br>
			<span align="left"><span style=" font-size:25px;">Google Median:</span> <span style="color:#333333; font-size:25px;">{{authStatsData.googleMedian}} </span></span><br><br>
			<span align="left"><span style=" font-size:25px;">Google Std:</span> <span style="color:#333333; font-size:25px;">{{authStatsData.googleStdev}}  </span></span><br><br>
			<span align="left"><span style=" font-size:25px;">Google Mode:</span> <span style="color:#333333; font-size:25px;">{{authStatsData.googleMode}}  </span></span><br>
			</div>
			<br>
			<div style ="border-radius: 27px 27px 27px 27px;
			-moz-border-radius: 27px 27px 27px 27px;
			-webkit-border-radius: 27px 27px 27px 27px;
			border: 2px dashed #D9252E;">
			<span align="left"><span style=" font-size:25px;">Yelp Mean:</span> <span style="color:#333333; font-size:25px;">{{authStatsData.yelpMean}} </span></span><br><br>
			<span align="left"><span style=" font-size:25px;">Yelp Median:</span> <span style="color:#333333; font-size:25px;">{{authStatsData.yelpMedian}} </span></span><br><br>
			<span align="left"><span style=" font-size:25px;">Yelp Std:</span> <span style="color:#333333; font-size:25px;"> {{authStatsData.yelpStdev}}  </span></span><br><br>
			<span align="left"><span style=" font-size:25px;">Yelp Mode:</span> <span style="color:#333333; font-size:25px;">{{authStatsData.yelpMode}} </span></span>
			</div>
			
		</div>
	</div> <!-- /right-side -->
	<div class="image-part"></div>
	<br><br><br><br>
		
	<div class='container' align="center" >
		
		<div style ="float:left; display: inline-block;"><h5>Top Restaurant Types & Average Ratings</h5><councilcategorystats></councilcategorystats></div> 
		<div style ="float:middle; display: inline-block;"><h5>Most Used Adjectives</h5><wordcloud></wordcloud></div>
	</div>
	
</div> <!-- /process-content -->

