main {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    background: #ffffff;

}

body {
    color: #333;
}

div#selectionCouncil{
  padding-bottom: 50px;
}

ng2-auto-complete{
  align-self: center;
}
