<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Lhander</title>
	<meta name="description" content="">
	<meta name="author" content="">

</head>
	<!-- header
   ================================================== -->
<header>
	<div class="row">
		<nav id="main-nav-wrap">
			<ul class="main-navigation">
				<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
				<li><a class="smoothscroll"  href="#process" title="">By Local Authority</a></li>
				<li><a class="smoothscroll"  href="#features" title="">By Restaurant Type</a></li>
				<li><a class="smoothscroll"  href="#pricing" title="">Burgess Road Analysis</a></li>
			</ul>
		</nav>
			<a class="menu-toggle" href="#"><span>Menu</span></a>
	</div>
</header> <!-- /header -->
<!-- Home section
================================================== -->
<section id="intro">
	<div class="shadow-overlay"></div>
	<div class="intro-content">
		<div class="row">
			<div class="col-twelve">
				<h1>Food Hygiene, How it affects our decisions ? </h1>
			</div>
		</div>
	</div>
</section>
<!-- Council Section
================================================== -->
<section id="process">
	<div class="row section-intro">
		<div class="col-twelve with-bottom-line">
			<h5>Hygiene Analysis by Local Authority</h5>
		</div>
	</div>
	<div id="selectionCouncil" class="row">
		<council></council>
	</div>
</section>
<!-- Category Section
================================================== -->
<section id="features">
	<div class="row section-intro">
		<div class="col-twelve with-bottom-line">
			<h5>Hygiene Analysis by Restaurant Type</h5>
		</div>
	</div>
	<div id="categorySpecific">
		<category></category>
	</div>
</section>
<!-- Burgess Road Section
================================================== -->
<section id="pricing">
	<div class="row section-intro">
		<div class="col-twelve with-bottom-line">
			<h5>Burgess Road Analysis</h5>
		</div>
	</div>
	
	<div class="container" align=center style="width:100%;" >
		<div style ="float:middle; display:inline-block; vertical-align: top;">
			<h3>1- Chef Hong Kong</h3>
			<span align="left"><span style=" font-size:22px;">Hygiene: </span> <span style="color:#1CBCA9; font-size:22px;">3</span></span><br>
			<span align="left" ><span style=" font-size:22px;">Google: </span> <span style="color:#4285F4; font-size:22px;">4.2</span></span><br>
			<span align="left"><span style=" font-size:22px;">Yelp: </span> <span style="color:#D9252E; font-size:22px;">5</span></span><br>
			<h3>2- Star Fried Chicken</h3>
			<span align="left"><span style=" font-size:22px;">Hygiene: </span> <span style="color:#1CBCA9; font-size:22px;">4</span></span><br>
			<span align="left" ><span style=" font-size:22px;">Google: </span> <span style="color:#4285F4; font-size:22px;">3.6</span></span><br><br>
			<h3>3- Uni Kebab</h3>
			<span align="left"><span style=" font-size:22px;">Hygiene: </span> <span style="color:#1CBCA9; font-size:22px;">5</span></span><br>
			<span align="left" ><span style=" font-size:22px;">Google: </span> <span style="color:#4285F4; font-size:22px;">4.6</span></span><br>
			<span align="left"><span style=" font-size:22px;">Yelp: </span> <span style="color:#D9252E; font-size:22px;">4</span></span><br>
			<h3>4- Chef China</h3>
			<span align="left"><span style=" font-size:22px;">Hygiene: </span> <span style="color:#1CBCA9; font-size:22px;">3</span></span><br>
			<span align="left" ><span style=" font-size:22px;">Google: </span> <span style="color:#4285F4; font-size:22px;">3.2</span></span><br>
			<span align="left"><span style=" font-size:22px;">Yelp: </span> <span style="color:#D9252E; font-size:22px;">5</span></span><br>
		</div>
		<div style ="float:middle; display:inline-block; vertical-align: top;">
			<br><br>
			<img src="assets/images/burgess.jpg" style="width:900px; height:500px; border-style: solid; border-width: 1px; border-color: black;">
		</div>
		<div style ="float:middle; display:inline-block; vertical-align: top;">
			<h3>5- Diego's</h3>
			<h3>now Special House</h3>
			<span align="left"><span style=" font-size:22px;">Hygiene: </span> <span style="color:#1CBCA9; font-size:22px;">1</span></span><br>
			<span align="left" ><span style=" font-size:22px;">Google: </span> <span style="color:#4285F4; font-size:22px;">3.8</span></span><br>
			<h3>6- Hoffers Bakers</h3>
			<span align="left"><span style=" font-size:22px;">Hygiene: </span> <span style="color:#1CBCA9; font-size:22px;">4</span></span><br>
			<span align="left" ><span style=" font-size:22px;">Google: </span> <span style="color:#4285F4; font-size:22px;">4.6</span></span><br>
			<h3>7- Ocean Fish Bar</h3>
			<span align="left"><span style=" font-size:22px;">Hygiene: </span> <span style="color:#1CBCA9; font-size:22px;">4</span></span><br>
			<span align="left" ><span style=" font-size:22px;">Google: </span> <span style="color:#4285F4; font-size:22px;">4</span></span><br><br>
			<h3>8- Burger King</h3>
			<span align="left"><span style=" font-size:22px;">Hygiene: </span> <span style="color:#1CBCA9; font-size:22px;">3</span></span><br>
			<span align="left" ><span style=" font-size:22px;">Google: </span> <span style="color:#4285F4; font-size:22px;">4.2</span></span><br>
			<span align="left"><span style=" font-size:22px;">Yelp: </span> <span style="color:#D9252E; font-size:22px;">5</span></span><br>
		</div>
	</div>
</section>
<div id="preloader">
	<div id="loader"></div>
</div>


